-DaltReleaseDeploymentRepository=cloudsoft-deploy-artifactory-release::default::http://artifactory.cloudsoftcorp.com/artifactory/libs-release-local/ 
-DaltSnapshotDeploymentRepository=cloudsoft-deploy-artifactory-snapshot::default::http://artifactory.cloudsoftcorp.com/artifactory/libs-snapshot-local/
